[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panda = "*"
openpyxl = "*"
xlrd = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
tk = "*"
parasweep = "*"
matlab = "*"

[dev-packages]

[requires]
python_version = "3.6"
